.app-admin-users-table

  th.user-login
    width: auto
  th.user-email
    width: 280px    
  th.user-last_login_ip
    width: 100px
  th.user-last_login_at
    width: 110px
  th.user-created_at
    width: 110px
  th.user-actions
    width: 50px