.app-table.users

  th.user-login
    width: auto
  th.user-name
    width: 280px    
  th.user-email
    width: 280px    
  th.user-last_login_ip
    width: 100px
  th.user-last_login_at
    width: 130px
    min-width: 130px
  th.user-created_at
    width: 130px
    min-width: 130px
  th.user-actions
    width: 50px