.app-block
  %h6 Actions
  .app-sidebar-navigation= render_navigation :context => :admin_users_sidebar

.app-block
  %h6 Information
  .app-content
    %p This page contains information about all users registered in application. You can add,                          |
    edit or delete users.                                                                                              |
    %p NOTE: You can't delete general administrator account with login "admin".

