.app-user-navigation.clearfix
  %ul
    - if !current_user
      %li
        %a{ :href => register_path } Register
      %li
        %a{ :href => login_path } Login
    - else
      %li
        %a{ :href => profile_path } Profile
      %li
        %a{ :href => logout_path } Logout


