.app-block
  %h3 Actions
  .app-sidebar-navigation= render_navigation :context => :dashboard

.app-block
  %h3 Information
  .app-content
    %p New information text for sidebar context                