.sidebar-block
  %h6= t("sidebar.actions")
  .app-sidebar-navigation= render_navigation :context => :dashboard

.sidebar-block
  %h6= t("sidebar.information")
  .app-content
    %p New information text for sidebar context                