.app-block
  %h3 Actions
  %ul.app-navigation
    %li
      %a{ :href => "#" } Create...
    %li
      %a{ :href => "#" } Edit...

.app-block
  %h3 Information
  .app-content
    %p New information text for sidebar context                