%table.app-table
  %thead
    %tr
      %th Name
      %th Description
      %th Number
      %th Actions
  %tbody
    %tr
      %td
        %a{ :href => "#" } Name - 1
      %td Description - 1
      %td.number 1
      %td.buttons Actions - 1
    %tr
      %td
        %a{ :href => "#" } Name - 2
      %td Description - 2
      %td.number 2
      %td.buttons Actions - 2

