- content_for :style do
  div.request-reset-password-form { width: 400px; margin: 0 auto; }
  div.request-reset-password-form h1 { font-size: 2em; margin-bottom: 1em; }
  div.request-reset-password-form p { margin: 7px 0; }
  form.formtastic fieldset ol li { display: block; margin-bottom: 1em; }

.request-reset-password-form
  %h1 Reset Password
  %p Fill out the form below and instructions to reset your password will be emailed to you:

  - semantic_form_for :request_reset_password do |form|
    = form.inputs :email
    - form.buttons do
      = form.commit_button t(".send_request")
      %li.cancel
        %span
          or
          = link_to t("cancel"), login_path, :class => "app-active-link"